{% extends 'base.html' %}
{% block content %}

<div class="buffer">
    <div class="row center-align">
        <div class="col center-align">
            <h1 >View All Partners</h1>
        </div>
    </div>
</div>

<div class="row">
    {% for cause in cause_list %}
    <a href="{% url 'cause_detail' cause.id %}">
        <div class="col s9 m6 l4">
        <h5>{{ cause.name }}</h5>
        <div class="card-img">
            {% for photo in cause.causephoto_set.all %}
            <img class="responsive-img" src="{{photo.url}}">
            {% endfor %}
        </div>
        <p>Description: {{ cause.description }}</p>
        <hr>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}