{% extends 'base.html' %}
{% block content %}

<h1>Cause Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ orderproduct.item.name }}</span>
        <p>Quantity: {{ orderproduct.order_quantity }}</p>
        <p>Size: {{ orderproduct.size }}</p>
        
      </div>
      <div class="card-action">
        <a href="{% url 'cause_update' cause.id %}">Edit</a>
        <a href="{% url 'cause_delete' cause.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}