{% extends 'base.html' %}
{% block content %}

<h1>Product Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ product.name }}</span>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Category: {{ product.category }}</p>
        <p>Quantity: {{ product.quantity }}</p>
        <p>Size: {{ product.size }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'product_update' product.id %}">Edit</a>
        <a href="{% url 'product_delete' product.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <!-- % url 'add_order' cart.id % -->
    <form action="" method="POST">
        {% csrf_token %}
        {{ order_form.as_p }}
        <input type="submit" class="btn" value="Add to cart">
    </form>
  </div>
</div>
{% endblock %}