{% extends 'base.html' %}
{% block content %}


<h1>Product Details</h1>


<div class="row">
  <div class="col s6 offset-s1">
    <div class="card">
          {% for photo in product.productphoto_set.all %}
            <img class="responsive-img" src="{{photo.url}}">
          {% endfor %}
          {% if user.is_superuser %}
            <form action="{% url 'add_product_photo' product.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" class="btn" value="Upload Photo">
            </form>
          {% endif %}
    </div>
  </div>
  <div class="col s3">
    <h4>{{ product.name }}</h4>
    <p>Price: {{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
      <a class="waves-effect waves-light pink darken-1 btn-small">{{ product.size }}</a>
      {% for prod in other_prod %}
      <a class="waves-effect waves-light pink darken-3 btn-small" href="{% url 'product_detail' prod.id %}">{{ prod.size }}</a>
      {% endfor %}
      <br><br>
      <form action="{% url 'add_cart' product.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn black" value="Add to Cart">
      </form>
  </div>

</div>
{% endblock %}