{% extends 'base.html' %}
{% block content %}

<h1>Product List</h1>

<div class="row">
    {% for product in product_list %}
    <a href="{% url 'product_detail' product.id %}">
        <div class="col s6 col-offset-3">
            <div class="card">
            <div class="card-content">
                <span class="card-title">{{ product.name }}</span>
                <p>IMAGE</p>
                <p>Price: {{ product.price }}</p>
            </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}