{% extends 'base.html' %}
{% block content %}

<h1>Product List</h1>

<div class="row">
    {% for product in product_list %}
    <a href="{% url 'product_detail' product.id %}">
        <div class="col s9 m6 l4 col-offset-3">
            <span class="card-title">{{ product.name }}</span>
            <p>${{ product.price }}</p>
            <div class="card-img">
                {% for photo in product.productphoto_set.all %}
                <img class="responsive-img" src="{{photo.url}}">
                {% endfor %}
            </div>
            <hr>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}