{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s9">
        <div class="card">
            <h5><b>WHERE CAUSES, COMPASSION, COMMERCE, AND COMMUNITY INTERSECT</b></h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s9 col-offset-3">
        <div class="card">
            <p>Welcome! We are GATHR, a non-traditional fundraising enviornment fostering support for cause-based organizations through unique and locally designed swag. Here we create community and unity around shared causes. </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6 col-offset-3">
        <div class="card">
            {% if not user.is_authenticated %}
                <p><a href="{% url 'login' %}">LOG IN</a> OR <a href="{% url 'signup' %}">SIGN UP</a> TO SHOP AND BROWSE CAUSES</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}