{% extends 'base.html' %}

{% block content %}
<div id="homemessage" class="container">
    <div class="row center-align">
        <div class="col center-align">
            
            <h5><b>WHERE <span class="emphasis">CAUSES</span>, <span class="emphasis">COMPASSION</span>, <span class="emphasis">COMMERCE</span>, AND <span class="emphasis">COMMUNITY</span> INTERSECT.</b></h5>
            
        </div>
    </div>

    <div class="row center-align">
        <div class="col center-align col-offset-3">
            <p>Welcome! We are GATHR, a non-traditional fundraising enviornment fostering support for cause-based organizations through unique and locally designed swag. Here we create community and unity around shared causes. </p>
            <br><br>
            {% if not user.is_authenticated %}
                <p class="center-align"><span id="loginhome"><a href="{% url 'login' %}">LOG IN</a> OR <a href="{% url 'signup' %}">SIGN UP</a> TO SHOP AND BROWSE CAUSES</span></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}